<iframe src="http://e72f625a-bpwalsh.node.tutum.io:5601/app/kibana#/dashboard/Sample-Dashboard?embed&_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-15m,mode:quick,to:now))&_a=(filters:!(),options:(darkTheme:!f),panels:!((col:1,id:Project,row:1,size_x:3,size_y:2,type:visualization),(col:4,id:Sex,row:1,size_x:3,size_y:2,type:visualization),(col:7,id:Age-at-Diagnosis,row:1,size_x:3,size_y:2,type:visualization),(col:1,columns:!(path,mimetype,ccc_did),id:Resources,row:3,size_x:11,size_y:4,sort:!(_score,desc),type:search),(col:10,id:Count,row:1,size_x:3,size_y:2,type:visualization)),query:(query_string:(analyze_wildcard:!t,query:'*')),title:'Sample%20Dashboard')" height="400px" width="100%"></iframe>

<h1>New Job</h1>

<%= render 'form' %>
