// Example using 'Cerulean' bootswatch

//Import bootstrap-sprockets
@import "bootstrap-sprockets";

// Import cerulean variables
@import "bootswatch/cerulean/variables";

// Then bootstrap itself
@import "bootstrap";

// Bootstrap body padding for fixed navbar
body { padding-top: 60px;
       padding-bottom: 10px;
       padding-left: 10px;
       padding-right: 10px;       
     }

// WDL syntax highlighting
.keyword {
  color: #ffa31a;
}

.name {
  color: #000000;
}

.type {
  color: #0099ff;
}

.variable {
  color: #669900;
}

.section {
  color: #ffa31a;
}

.command {
  color: #000000;
}

.function {
  color: #ff00ff;
}

// And finally bootswatch style itself
@import "bootswatch/cerulean/bootswatch";

// Whatever application styles you have go last
// @import "base";
