// Place all the styles related to the workflows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// WDL syntax highlighting
.keyword {
  color: #ffa31a;
}

.name {
  color: #000000;
}

.type {
  color: #0099ff;
}

.variable {
  color: #669900;
}

.section {
  color: #ffa31a;
}

.command {
  color: #000000;
}

.function {
  color: #ff00ff;
}
