// Place all the styles related to the workflows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.keyword {
  color: #0066FF;
}

.name {
  color: #0066FF;
}

.type {
  color: #0066FF;
}

.variable {
  color: #0066FF;
}

.section {
  color: #0066FF;
}

.command {
  color: #0066FF;
}

.function {
  color: #0066FF;
}
